.homenews {
  margin: 2rem 0;
  width: 65%;

  @media (max-width: 600px) {
    margin: 0rem 0;
    width: 96%;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

    a {
      text-decoration: none;
      color: #000;

      &:focus {
        text-decoration: underline;
      }
    }

    li {
      display: flex;

      &:focus {
        display: none;
      }
    }

    h3:hover {
      color: #777;
    }

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
    }
  }

  img {
    width: 100%;

    &:hover {
      transition: 0.6s;
      transform: scale(1.1);
    }
  }
}

.story-image {
  width: 50%;
  overflow: hidden;
}

.story-info {
  width: 50%;
  margin-left: 5px;
}
