.homenews {
  margin: 2rem 0;
  width: 65%;

  @media (max-width: 600px) {
    margin: 0rem 0;
    width: 96%;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

    li {
      display: flex;
    }

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
    }
  }

  img {
    width: 100%;
  }
}

.story-image {
  width: 50%;
}

.story-info {
  width: 50%;
  margin-left: 5px;
}
