.navigation {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  background: lightgray;

  ul {
    display: flex;
    list-style: none;
  }

  li {
    margin: 1rem;
  }

  .navLink {
    color: #000;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
}
