.signin {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../img/signin.jpg');
  background-size: cover;
  background-position: center;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: #fff;
    font-size: 3rem;

    @media (max-width: 600px) {
      font-size: 2.5rem;
    }
  }
}

.signin-wrapper {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  // grid-template-columns: 1fr;

  @media (max-width: 600px) {
    width: 100%;
    // grid-template-columns: 1fr;
  }
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    text-align: center;
  }

  input {
    width: 100%;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    font-size: 2rem;
    text-align: left;
    padding: 1rem;

    @media (max-width: 600px) {
      width: 90%;
    }
  }

  button {
    margin-top: 1rem;
    width: 100%;
    height: 60px;
    background: #2186eb;
    color: #fff;
    border: none;
    font-size: 2rem;

    @media (max-width: 600px) {
      width: 90%;
    }

    &:hover {
      background-color: #175da4;
    }
  }
}

.signup-feedback {
  text-align: center;
  margin-top: 1rem;
}
