.company-news {
  width: 100%;

  img {
    width: 100%;
  }
}

.company-news-group {
  width: 100%;

  img {
    &:hover {
      transition: 0.6s;
      transform: scale(1.1);
    }
  }

  a {
    overflow: hidden;
    text-decoration: none;
  }

  p {
    color: #333;

    &:hover {
      color: #777;
    }

    span {
      text-decoration: underline;
    }
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;

    @media (max-width: 968px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  li {
    margin-bottom: 1rem;
    overflow: hidden;
  }
}
